<nav class="navbar">
  <h1><a href="/">Student Blogs</a></h1>
  <ul>
    <a href="/blogs"><li>Blogs</li></a>
    <a href="/account"><li>My Blogs</li></a>
    <a href="/signin"><li>Sign In</li></a>
    <a href=""><li>Logout</li></a>
  </ul>
</nav>