<header>
  {{>navbar}}
</header>
<main>
  <div>
    <form>
      <legend>Create your account below</legend>
      <label for="">Email</label>
      <input type="text">
      <label for="">Username</label>
      <input type="text">
      <label for="">Password</label>
      <input type="text">
      <button>Sign up</button>
    </form>
  </div>
  {{!-- <aside>
    <div>
      <ul>
        <h4>Username Requirements</h4>
        <li>Usernames can contain letters (a-z), numbers (0-9).</li>
        <li>Usernames cannot contain an ampersand (&), equals sign (=), underscore (_), apostrophe ('), dash (-), plus
          sign (+), comma (,), brackets (<,>), or more than one period (.) in a row.</li>
      </ul>

      <ul>
        <h4>Password Requirements</h4>
        <li></li>
      </ul>
    </div>
  </aside> --}}
</main>