<header>
  {{>navbar}}
</header>
<main>
  <div>
    <form>
      <legend>Sign into your account below</legend>
      <label for="">Email</label>
      <input type="text">
      <label for="">Password</label>
      <input type="text">
      <button>Sign in</button>
    </form>
  </div>
</main>